<html>

<body>

<form method="get" action="/insert">
  <input type="text" name="taskVal" maxlength="29">
  <input type="text" name="lineVal" maxlength="8">
  <input type="hidden" name="chk" value="1">
  <input type="submit" value="送信">
</form>

</body>
</html>
